html {
  scroll-behavior: smooth;
}

.abc{
	font-family: cursive;
	color: #331900;
}

.bod{
	margin: 10px;
}

#work{
	text-align: center;
}
.line{
	height: 10px;
	width: 70px;
	background-color: black;
	
}
#cF{
	font-family: 'Lobster', cursive;
}
#home{
	padding: 50px 0px;
	text-align: center;
	background-color: lightgreen;
}
#imgg{
	height: 250px;
	border-radius: 50%;
}
#work h1{
	margin: 20px;
}
